DB_URL=jdbc:mysql://host/dbname?sslMode=VERIFY_IDENTITY&useLegacyDatetimeCode=false&serverTimezone=Asia/Kuala_Lumpur
DB_USERNAME=
DB_PASSWORD=

AES_SECRET_KEY=
AES_IV_KEY=
APPLICATION_KEY=

MAIL_USERNAME=
MAIL_PASSWORD=
